In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vitim,RU,2022-01-24 00:23:29,59.4511,112.5578,-13.00,99,99,3.49
1,1,Ginda,IN,2022-01-24 00:23:29,30.6945,78.4932,38.53,95,99,2.55
2,2,Ushuaia,AR,2022-01-24 00:23:02,-54.8000,-68.3000,51.46,76,75,10.36
3,3,Tura,IN,2022-01-24 00:19:22,25.5198,90.2201,55.83,69,57,4.27
4,4,Atuona,PF,2022-01-24 00:23:30,-9.8000,-139.0333,78.75,71,10,18.25

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2022-01-24 00:23:30,-9.8000,-139.0333,78.75,71,10,18.25
5,5,Port Lincoln,AU,2022-01-24 00:23:30,-34.7333,135.8667,71.76,85,70,6.85
7,7,Vaini,TO,2022-01-24 00:22:54,-21.2000,-175.2000,81.36,76,26,11.48
8,8,Hobart,AU,2022-01-24 00:20:19,-42.8794,147.3294,80.02,65,100,10.36
11,11,Kiama,AU,2022-01-24 00:23:32,-34.6833,150.8667,79.25,67,98,1.99
16,16,Kapaa,US,2022-01-24 00:23:33,22.0752,-159.3190,79.48,71,20,1.01
17,17,Rikitea,PF,2022-01-24 00:23:33,-23.1203,-134.9692,78.37,70,100,15.10
22,22,Busselton,AU,2022-01-24 00:23:35,-33.6500,115.3333,71.04,69,24,16.75
23,23,Mitu,CO,2022-01-24 00:23:35,1.1983,-70.1733,73.62,97,88,1.48
25,25,Le Port,RE,2022-01-24 00:23:36,-20.9373,55.2919,78.76,84,27,3.96

In [16]:
preferred_cities_df.count()

City_ID       218
City          218
Country       218
Date          218
Lat           218
Lng           218
Max Temp      218
Humidity      218
Cloudiness    218
Wind Speed    218
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4         Atuona      PF     78.75  -9.8000 -139.0333
5   Port Lincoln      AU     71.76 -34.7333  135.8667
7          Vaini      TO     81.36 -21.2000 -175.2000
8         Hobart      AU     80.02 -42.8794  147.3294
11         Kiama      AU     79.25 -34.6833  150.8667
16         Kapaa      US     79.48  22.0752 -159.3190
17       Rikitea      PF     78.37 -23.1203 -134.9692
22     Busselton      AU     71.04 -33.6500  115.3333
23          Mitu      CO     73.62   1.1983  -70.1733
25       Le Port      RE     78.76 -20.9373   55.2919

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Atuona,PF,78.75,-9.8000,-139.0333,Villa Enata
5,Port Lincoln,AU,71.76,-34.7333,135.8667,Port Lincoln Hotel
7,Vaini,TO,81.36,-21.2000,-175.2000,Keleti Beach Resort
8,Hobart,AU,80.02,-42.8794,147.3294,Mantra on Collins Hobart
11,Kiama,AU,79.25,-34.6833,150.8667,The Sebel Kiama Harbourside
16,Kapaa,US,79.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Rikitea,PF,78.37,-23.1203,-134.9692,People ThankYou
22,Busselton,AU,71.04,-33.6500,115.3333,Observatory Guest House
23,Mitu,CO,73.62,1.1983,-70.1733,
25,Le Port,RE,78.76,-20.9373,55.2919,KORBEY D'OR OUEST

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]