## Deliverable 3. Create a Travel Itinerary Map.

In [69]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [70]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,1,Saint-Leu,RE,77.86,few clouds,-21.1500,55.2833,La Caz Oceane
1,3,Mayumba,GA,80.60,few clouds,-3.4320,10.6554,LIKWALE LODGE
2,5,Rikitea,PF,78.10,overcast clouds,-23.1203,-134.9692,People ThankYou
3,7,Arraial Do Cabo,BR,87.76,clear sky,-22.9661,-42.0278,Pousada Porto Praia
4,12,East London,ZA,78.55,clear sky,-33.0153,27.9116,Tu Casa

In [71]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{City Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [72]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Pisco"]
vacation_end = vacation_df.loc[vacation_df['City']=="Pisco"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Rodrigues Alves"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Santa Cruz"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Itaituba"]

In [77]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

end

(-13.7, -76.2167)

In [80]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Latitude-longitude pairs


fig = gmaps.figure()
directions = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3], 
        travel_mode='DRIVING' or 'WALKING' or 'BICYCLING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [82]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,182,Pisco,PE,76.01,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
1,49,Rodrigues Alves,BR,84.40,broken clouds,-7.7380,-72.6509,Pousada Aconchego
2,186,Santa Cruz,BO,89.65,broken clouds,-17.8000,-63.1667,Aviador Hotel Boutique
3,52,Itaituba,BR,86.16,broken clouds,-4.2761,-55.9836,Hotel Campos

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure